{% extends 'base.html' %}

{% block title %}About the Kernel Auditor{% endblock %}

{% block content %}
    <!-- Page of about -->
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-body">
            <h5 class="card-title display-5 mb-4 text-primary">About Kernel Auditor</h5>
            <p class="card-text lead">Kernel Auditor is a system monitoring tool designed for performance analysis, kernel settings, and hardware diagnostics in Linux. It provides detailed information about the system's resources and allows you to tweak various kernel settings for optimal performance</p>
            <hr class="my-4">
            <p class="card-text"><strong class="h5">Key Features:</strong></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">📊 <strong>Detailed system information</strong></li>
                <li class="list-group-item">⚙️ <strong>Performance optimization tools</strong></li>
                <li class="list-group-item">🔍 <strong>Flexible kernel tweaking utilities</strong></li>
                <li class="list-group-item">🖥️ <strong>Easy-to-use interface</strong></li>
            </ul>
            <p class="mt-4 text-muted">Kernel Auditor is built to provide a seamless experience for users who want to have full control over their system's performance and settings</p>
        </div>
    </div>
{% endblock %}
