{% extends 'base.html' %}

{% block title %}Short I/O Scheduler Settings{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-5">I/O Scheduler Settings</h1>
        
        <div class="row">
            {% for device, schedulers in io_schedulers.items() %}
            <div class="col-md-6 mb-4">
                <div class="card shadow-lg border-primary">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Device: {{ device }}</h5>
                        <form class="scheduler-form" data-device="{{ device }}">
                            <label for="scheduler-{{ device }}" class="form-label">Select Scheduler:</label>
                            <select class="form-select scheduler-select" id="scheduler-{{ device }}">
                                {% for scheduler in schedulers %}
                                    <option value="{{ scheduler.strip('[]') }}" {% if '[' in scheduler %}selected{% endif %}>
                                        {{ scheduler.strip('[]') }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-success mt-3 save-scheduler">Apply</button>
                        </form>
                        
                        <h6 class="mt-4">Advanced Tuning</h6>
                        <form class="tuning-form" data-device="{{ device }}">
                            <label for="nr_requests-{{ device }}" class="form-label mt-2" data-bs-toggle="tooltip" title="nr_requests">Queue depth (number of I/O requests that can be handled simultaneously)</label>
                            <input type="number" class="form-control" id="nr_requests-{{ device }}" placeholder="Enter values ({{ scheduler_values[device]['nr_requests'] }})" min="1" value="{{ scheduler_values[device]['nr_requests'] }}">
                            
                            <label for="read_ahead_kb-{{ device }}" class="form-label mt-2" data-bs-toggle="tooltip" title="read_ahead_kb">The amount of data (in kilobytes) that the system pre-reads from the storage device to optimize read performance</label>
                            <input type="number" class="form-control" id="read_ahead_kb-{{ device }}" placeholder="Enter values ({{ scheduler_values[device]['read_ahead_kb'] }})" min="0" value="{{ scheduler_values[device]['read_ahead_kb'] }}">

                            <label for="max_sectors_kb-{{ device }}" class="form-label mt-2" data-bs-toggle="tooltip" title="max_sectors_kb">Maximum size of data KB that can be processed per single I/O request</label>
                            <input type="number" class="form-control" id="max_sectors_kb-{{ device }}" placeholder="Enter values ({{ scheduler_values[device]['max_sectors_kb'] }})" min="1" value="{{ scheduler_values[device]['max_sectors_kb'] }}">

                            <label for="io_timeout-{{ device }}" class="form-label mt-2" data-bs-toggle="tooltip" title="io_timeout">Timeout for I/O operations</label>
                            <input type="number" class="form-control" id="io_timeout-{{ device }}" placeholder="Enter values ({{ scheduler_values[device]['io_timeout'] }})" min="1" value="{{ scheduler_values[device]['io_timeout'] }}">
                            
                            <button type="button" class="btn btn-info mt-3 save-tuning">Apply Tuning</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".save-scheduler").forEach(button => {
                button.addEventListener("click", function() {
                    let form = this.closest(".scheduler-form");
                    let device = form.getAttribute("data-device");
                    let scheduler = form.querySelector(".scheduler-select").value;
                    
                    fetch("/api/set_scheduler", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ device, scheduler })
                    }).then(response => response.json())
                      .then(data => {
                        alert(data.message);
                        location.reload()
                        });
                });
            });
            
            document.querySelectorAll(".save-tuning").forEach(button => {
                button.addEventListener("click", function() {
                    let form = this.closest(".tuning-form");
                    let device = form.getAttribute("data-device");

                    let nr_requests = form.querySelector("#nr_requests-" + device).value;
                    let read_ahead_kb = form.querySelector("#read_ahead_kb-" + device).value;
                    let max_sectors_kb = form.querySelector("#max_sectors_kb-" + device).value;
                    let io_timeout = form.querySelector("#io_timeout-" + device).value;
                    
                    fetch("/api/set_sched_tunning", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ device, nr_requests, read_ahead_kb, max_sectors_kb, io_timeout})
                    }).then(response => response.json())
                      .then(data => {
                        alert(data.message);
                        location.reload();
                        });
                });
            });
        });
    </script>
{% endblock %}